<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--PRO-->
    <add key="CarriageNumberServiceEndPoint" value="http://210.22.86.114:5000" />
  </appSettings>
</configuration>